h2{
    text-align: center;
}

table{
    width: 100%;
}

table, td{
    text-align: center;
    border: 2px solid rgb(187, 86, 141);
    border-collapse: collapse;
}

th{
    border: 3px solid rgb(187, 86, 141);
    border-collapse: collapse;
}

.inProgress{
    background-color: rgb(230, 183, 97);
    color: black;
}

.notStarted{
    background-color: rgb(220, 74, 74);
    color: black;
}

.progress {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar {
    background-color: red;
    text-align: center;
    color: white;
}