.p1 {
    font-size: 60px;
    font-weight: bold;
}

.p2 {
    display: inline;
    font-size: 50px;
}

table {
    font-size: 30px;
    border: 0px;
    text-align: left;
    margin-left: 30px;
    width: 20%;
}

table img {
    width: 70px;
    height: 69px;
}

.p4 {
    display: inline;
    font-size: 30px;
    margin-left: 30px;
}

span {
    margin-left: 30px;
}

.p5 {
    font-size: 30px;
    margin-left: 30px;
}

.ul2 {
    overflow: hidden;
    list-style-type: circle;
    font-size: 25px;
    margin-left: 30px;
}

.images {
    width: 864px;
    height: 670px;
    margin-left: 600px;
    margin-top: -570px;
    border-radius: 25px;
}