body{
    background-color: pink;
    font-family: 'Helvetica Neue';
    color: #4C4343;
    padding:0; 
    margin:0;
}

/*Nav bar styling*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(187, 86, 141);
    color: white;
    text-align: center;
}

.logo img {
    margin-left: 1vw;
    height: 70px;
    width: 70px;
}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 3.5vh 3vw;
    display: block;
}

.links li:hover {
    background-color: rgb(181, 40, 117);
}

/*Text*/
.p1{
    position: absolute;
    display: block;
    left: 50px;
    font-size: 60px;
}

.p2{
    position: absolute;
    left: 50px;
    display: block;
    font-size: 100px;
    line-height: 168px;
}

.p3{
    position: absolute;
    left: 50px;
    top: 313px;
    font-size: 30px;
    line-height: 44px;
}

.bgflag img{
    position: absolute;
    width: 70px;
    height: 69px;
    left: 240px;
    top: 355px;
}

.p4{
    position: absolute;
    left: 50px;
    top: 420px;
    font-size: 30px;
}

.div1{
    position: absolute;
    left: 50px;
    top:520px;
    font-size: 30px;
}

.ul1{
    font-size: 25px;
    display: flex; 
    justify-content: space-around; 
    padding: 0;
}

.ul1 li {
    display: inline-flex;
    margin: 10px; 
}

.images{
    position: absolute;
    width: 864px;
    height: 674px;
    padding-left: 55%;
    top: 87px;
}

/*Footer*/

footer { 
    display: flex;
    padding-left: 20px;
    background-color: rgb(187, 86, 141);
    font-size: 20px;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.text{
    font-weight: bold;
    color: white;
}

.ul2{
    display: flex; 
    justify-content: space-around;
    padding: 0;
}

.ul2 li {
    display: inline-block;
    margin: 10px; 
}